.button {
  border: 1px solid #FFF;
  border-radius: 30px;
  padding: 15px 50px;
  display: inline-block;

  background: transparent;

  color: #FFF;
  text-transform: uppercase;
}

.button:hover {
  text-decoration: none;
  transition: all 0.5s ease;
}

.button--pillar {
  color: #2383F5;
  border-color: #E5E5E5;
  padding: 7px 25px;
  font-size: 0.65em;
}

.button--pillar:hover {
  background: #2383F5;
  border-color: #2383F5;
  color: #FFF;
}
