.section {

}

.section__inner {
  width: 94%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 50px 0;

  @media @desktop, @desktop-xl {
    width: 75%;
    padding: 100px 0;
  }
}

.section__header {
  line-height: 1;
  text-align: center;
}
