/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

html, body {
  height: 100%;
  font-weight: 300;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1.25em;
  font-weight: 300;
}

h1 {
  font-size: 4.75em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

a {
  text-decoration:none;
}

a:hover {
  text-decoration: underline;
}


.inner-wrap {
  width: 75%;
  margin: 0 auto;
  padding: 125px 0;
}

.inner-wrap--hero {
  padding: 250px 0;
}

.button-primary {
  text-transform: uppercase;
  padding: 15px 20px;
  /* border: 1px solid #FFF; */
  color: #FFF;
  background: #0db2ef;

  display: inline-block;
}

.hero {
  height: 100%;
  font-family: 'Lato', sans-serif;
  background: #2A2D2F;
  color: #FFF;
}

.hero__header {
  margin-bottom: 25px;
  line-height: 1;
}

.hero__sub-header {
  width: 80%;
  margin-bottom: 30px;
  line-height: 1.25;
}

.grid-list {
  width: 100%;
  margin: 0;
  padding: 0;
}

.grid-list__item {
  width: 50%;
  list-style: none;
  margin: 0;
  padding: 40px 25px;
  float: left;

  min-height: 100px;
}

.grid-list__header {

}

.grid-list__body {

}

.footer {
  background: #0db2ef;
  color: #C3E7F4;
}

.footer__links {
  text-align: center;
}

.footer__link {
  display: inline;
  padding: 0 10px;
  color: #FFF;
}

.footer__link--social:hover {
  text-decoration: none;
  color: #DAF0F9;
}
.pillars {
  text-align: center;
}
