.components--header {
  height: 300px;
  font-family: 'Lato', sans-serif;
  background: #2A2D2F;
  color: #C3E7F4;
}

.meshblu {
  color: #FFF;
  background: #0db2ef;
}

.gateblu {
  color: #2A2D2F;
  text-align: right;
}

.octoblu {
  color: #C3E7F4;
  background: #2A2D2F;
}

.flow-runner {
  color: #2A2D2F;
  text-align: right;
}

.mobile-apps {
  color: #C3E7F4;
  background: #0db2ef;
}

.mobile-apps a {
  color: #C3E7F4;
}
.mobile-apps a:hover {
  color: #8FD8F9;
  text-decoration: none;
}

.microblu {
  color: #2A2D2F;
  text-align: right;
}
