/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

html, body {
  height: 100%;

  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1.25em;
  font-weight: 300;
}

h1 {
  font-size: 4.75em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.3em;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5em;
}

@media (min-width: 800px) {
  h1 {
    font-size: 4.75em;
  }

  h2 {
    font-size: 2.25em;
    margin-bottom: 0.5em;
  }

  h3 {
    font-size: 1.5em;
  }

}

a {
  text-decoration:none;
}

a:hover {
  text-decoration: underline;
}


.inner-wrap {
  width: 94%;
  max-width: 960px;
  margin: 0 auto;
  padding: 50px 0;
}

@media (min-width: 960px) {
  .inner-wrap {
    width: 75%;
    padding: 100px 0;
  }
}

.inner-wrap--hero {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-55%);
     -moz-transform: translateY(-55%);
      -ms-transform: translateY(-55%);
       -o-transform: translateY(-55%);
          transform: translateY(-55%);
}

.align-center {
  text-align: center
}

.button {
  text-transform: uppercase;
  border-radius: 30px;
  padding: 15px 50px;
  color: #FFF;
  display: inline-block;
  border: 1px solid #FFF;
}

.button:hover {
  text-decoration: none;
  transition: all 0.5s ease;
}

.button--primary {
  background: #0db2ef;
  border-color: #0db2ef;
}

.button--primary:hover {
  background: #0BA2DA;
  border-color: #0BA2DA;
}

.button--secondary {
  background: transparent;
  border-color: #FFF;
  color: #FFF;
}

.button--secondary:hover {
  background: #0db2ef;
  border-color: #0db2ef;
  color: #FFF;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 25px;
  width: 100%;
  height: 50px;

  background: rgba(0,0,0,0.75);
  display: none;
}

.header__logo {
  width: 190px;
  height: 51px;
}

.login-link {
  color: #0db2ef;
  position: absolute;
  top: 0;
  right: 30px;
  line-height: 50px;
}

.hackster {
  display: block;
  width: 100%;
}

iframe {
  height: 260px;
  padding: 10px;
}

.hero {
  min-height: 500px;
  height: 100%;
  background: #2A2D2F;
  color: #FFF;
  text-align: center;

  background-image: radial-gradient(circle farthest-side at right bottom,#ECC5D1,#2A2D2F);
}

.hero__login {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 12px;

  background: rgba(0,0,0, 0.3);
  color: #FFF;
  font-size: 0.8em;
}

.herox {
  background: #FEFEFF;
  color: #333;
}

.hero__logo {
  width: 96px;
  height: 96px;
  margin-bottom: 1.75em;
}

@media (min-width: 960px) {
  .hero__logo {
    width: 130px;
    height: 130px;
    margin-bottom: 2.25em;
  }
}

.hero__header {
  margin-bottom: 25px;
  line-height: 1;
  font-size: 3.4em;
}

.hero__sub-header {
  margin-bottom: 30px;

  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.25;
  text-transform: none;
}

@media (min-width: 960px) {
  .hero__header { font-size: 4.75em; }
  .hero__sub-header { font-size: 2em; font-weight: 100; }
}

.hero__button {
  border-radius: 30px;
  padding: 15px 50px;
}

.grid-list {
  width: 100%;
  margin: 0;
  padding: 0;
}

.grid-list__item {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 20px 25px;

  min-height: 100px;
}

@media (min-width: 960px) {
  .grid-list__item {
    width: 100%;
    float: left;
  }
}

.grid-list__header {
  font-size: 2.25em;
  margin: 0.3em 0;
}

.grid-list__body {
  font-size: 1.25em;
  color: #444;
}

.grid-list__body--flipped {
  margin-left: 50%;
}

.grid-list__body p {
  margin-top: 0;
}

.grid-list__icon {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  border: 1px solid #eee;
  padding: 20px 10px;
  text-align: center;

  display: none;
}

hr {
  width: 6em;
  border: 1px solid #EEE;
}

.security {
  background: #4A464A;
  color: #FFF;
}

.security__body {
  font-size: 1.55em;
  font-weight: 300;
  color: #E3E3E3;
}

.try-now {
  background: #4A464A;
  color: #0db2ef;
}

.partner-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;

  -webkit-justify-content: space-around;
      -ms-justify-content: space-around;
          justify-content: space-around;
}

.partner-list__item {
  width: 125px;
  height: 125px;
  padding: 0 7px;
  margin: 0 10px;
  /* background: oldlace; */
}

@media (min-width: 800px) {
  .partner-list__item {
    width: 200px;
    height: 200px;
    padding: 0 15px;
    margin:  0 20px;
  }
}

.partner-list__item--intel { }
.partner-list__item--microsoft { }
.partner-list__item--splunk { }
.partner-list__item--amazon_web_services { }
.partner-list__item--plivo { }
.partner-list__item--local-motors { }
.partner-list__item--allseen_alliance { }
.partner-list__item--ge-firstbuild { }
.partner-list__item--thingsee { }


.partner-list__item img {
  width: 100%;
  height: auto;
  display: block;

  position: relative;
  top: 50%;
  -webkit-transform: translateY(-55%);
     -moz-transform: translateY(-55%);
      -ms-transform: translateY(-55%);
       -o-transform: translateY(-55%);
          transform: translateY(-55%);
}


.footer {
  background: #0db2ef;
  color: #C3E7F4;
}

.footer__links {}

.footer__link {
  display: inline;
  padding: 0 10px;
  color: #FFF;
}

.footer__link--citrix {
  padding: 0;
  text-decoration: underline;
}



.footer__link--social:hover {
  text-decoration: none;
  color: #DAF0F9;
}
