id: octoblu-www-green-controller
kind: ReplicationController
apiVersion: v1beta1
labels:
  name: octoblu-www-green
  version: "$SHORT_COMMIT"
desiredState:
  replicas: 2
  replicaSelector:
    name: octoblu-www-green
    version: "$SHORT_COMMIT"
  podTemplate:
    labels:
      name: octoblu-www-green
      app: octoblu-www-green
      version: "$SHORT_COMMIT"
    desiredState:
      manifest:
        version: v1beta1
        id: octoblu-www-green
        containers:
          - name: octoblu-www-green
            image: octoblu/octoblu-www:$SHORT_COMMIT
            ports:
              - containerPort: 80

